

/* #insurancePlans { margin: 25px 0 0;} */

.fullBg {
  background-color: #F5F5F5;
  padding: 25px;
}

.headGrid {
  display: grid;
  grid-template-columns: 75% 21%;
  align-items: center;
  gap: 4%;
}

.sectionTitle {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #000;
  margin: 5px 0;
}

.sectionDesc {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #000;
}

.headImg img {
  width: 100%;
  height: auto;
}

.insurancePlans-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #000;
  margin: 5px 0;
}

.insurancePlans-desc {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #000;
  padding: 5px 0;
}

.insurancePlans-subTitle {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #000;
}

.insurancePlans-subTitles {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #000;
}

.insurancePlans-table {
  margin: 15px 0;
}

.insurancePlans-table table tr th {
  color: #FFF;
  background-color: #003366 !important;
  padding: 15px 20px;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.insurancePlans-table table tr td {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

/* Tabs */
.safeguardtabs {
  margin: 25px 0 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.safeguardtabs li {
  color: #222;
  display: inline-block;
  cursor: pointer;
  background-color: #FFF;
  border-radius: 26px;
  padding: 12px 35px;
  font-size: 17px;
  font-weight: 500;
}

.safeguardtabs li.current {
  background: transparent linear-gradient(90deg, #003974 0%, #0B4D88 100%) 0% 0% no-repeat padding-box;
  color: #FFF;
  border-radius: 26px;
  padding: 12px 35px;
}

.safeguardtab-content {
  display: none;
  padding: 15px;
}

.safeguardtab-content.current {
  display: inherit;
}

.safeguard-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;gap: 25px;
}

.safeguard-card {
  background-color: #FFF;
  width:48%;
  /* min-height: 410px; */
  padding: 40px;
  border-radius: 40px;
}

.safeguard-card-term {
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;
  align-items: end;
  width: 100%;
  background-color: #FFF;
  min-height: 360px;
  /* padding: 40px; */
  border-radius: 40px;
}

.safeguard-plantitle {
  font-size: 23px;
  font-weight: 600;
  padding: 5px 0;
  color: #000;
  letter-spacing: 0.3px;
  margin-bottom: 5px;
}

.safeguard-list {
  padding: 10px 0 15px 30px;
  margin: 10px 0;
  text-indent: -20px;
}

.safeguard-list li {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
  list-style: inside;
}

.safeguard-carddesc {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
  color: #000;
}

.safeguard-payget {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 10%;
  margin: 10px 0 0;
}

.safeguard-carddesc strong {
  font-weight: 700;
}

.safeguard-pay p,
.safeguard-get p {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
}

.safeguard-pay .amt,
.safeguard-get .amt {
  font-size: 30px;
  font-weight: 600;
  padding: 5px 0;
  color: #000;
}

.safeguard-pay .amt span {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
}

.safeguard-get p sup {
  vertical-align: super;
  font-size: 10px;
}

.stickyProtection {
  position: absolute;
  top: 0;
  border: 1px solid #D4D4D4;
  font-size: 16px;
  color: #6D6D6D;
  border-top: none;
  padding: 10px 35px;
  left: 35%;
  border-radius: 0px 0px 33px 33px;
}

.safeguard-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 12px 0 0;
}

.safeGuardterm {
  justify-content: start !important;
}

.safeguard-btns .categoryBtn {
  /* background: transparent linear-gradient(90deg, #ED1C24 0%, #FF4B2B 100%) 0% 0% no-repeat padding-box; */
  background: transparent linear-gradient(270deg, #82772D 0%, #C1CD23 100%) 0% 0% no-repeat padding-box;
  border-radius: 23px;
  padding: 15px 40px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

.safeguard-btns .knowMore {
  border: 1px solid #000000;
  border-radius: 35px;
  padding: 14px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.safeguard-protection {
  margin-top: 20px;
}

/*  */
#whyChooseLifeInsurancePlans {
  margin: 25px 0;
}

.whyChoose-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 25px;
}

.whyChooseimg {
  height: 210px;
}

/*  */
#typeOfLifeInsurance {
  margin: 25px 0;
}

.typeOfLifeInsurance-flex {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 15px;
  margin: 20px 0 10px;
}

/*  */
#benefitsOfLIP {
  margin: 25px 0;
}

.benefitsOfLIP-grid,
.whyBuyPolicy-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 20px;
  margin: 15px 0;
}

.benefitsOfLIP-flxS,
.whyBuyPolicy-flxS {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.benefitsOfLIP-list,
.understandingLifeInsuranceCA-list,
.howWillFamilyReceive-list {
  margin: 10px 0;
}

.benefitsOfLIP-list li,
.understandingLifeInsuranceCA-list li,
.howWillFamilyReceive-list li {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.3px;
  padding: 8px 0;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

/*  */
#howToChooseBestLIC {
  margin: 25px 0;
}

.howToChooseBestLIC-cards {
  display: flex;
  justify-content: start;
  /* align-items: start; */gap: 25px;
  flex-wrap: wrap;
  margin: 12px 0;
}

.howToChooseBestLIC-card {
  padding: 20px;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  max-width: 254px;
  min-height: 320px;
}

/*  */
#whoCanBuyLIP {
  margin: 25px 0;
}

.whoCanBuyLIP-cards {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 0;
}

.whoCanBuyLIP-card {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  max-width: 370px;
  min-height: 300px;
}

/*  */
#understandingLifeInsuranceCA {
  margin: 25px 0;
}

.understandingLifeInsuranceCA-grid {
  display: grid;
  grid-template-columns: 40% 58%;
  align-items: start;
  gap: 20px;
  margin: 10px 0;
}

.understandingLifeInsuranceCA-list img {
  padding-top: 3px;
}

.understandingLifeInsuranceCA-list li strong {
  font-weight: 600;
}

.understandingLifeInsuranceCA-list li p {
  color: #000;
}

/*  */
#diffBtnSection {
  margin: 25px 0;
}

/*  */
#whyBuyPolicy {
  margin: 25px 0;
}

/*  */
#tipsToAvoidClaim {
  margin: 25px 0;
}

.tipsToAvoidClaim-grid {
  display: grid;
  grid-template-columns: 30% 68%;
  gap: 1%;
  align-items: start;
}

.quickTips-cards {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 15px;
}

.quickTips-card {
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  padding: 20px;
  max-width: 254px;
  min-height: 320px;
}

.quickTips-card4 {
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  padding: 20px;
  max-width: 254px;
  min-height: 210px;
}

.quickTips-card5 {
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  padding: 20px;
  max-width: 518px;
  min-height: 210px;
}

/*  */
#commonExclusion {
  margin: 25px 0;
}

.commonExclusion-flexS {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin: 25px 0;
}

.commonInclusion-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
  gap: 10px;
}

.commonInclusion-card {
  max-width: 375px;
  min-height: 270px;
  padding: 20px;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
}

/*  */
#documentReqd {
  margin: 25px 0;
}

/*  */
#howToSaveTax {
  margin: 25px 0;
}

.howToSaveTax-grid {
  display: grid;
  grid-template-columns: 35% 63%;
  align-items: start;
  gap: 2%;
  margin: 15px 0 10px 0;
}

.howToSaveTax-grid img {
  width: 100%;
  height: 82%;
}

/*  */
#howCanYouPayLIP {
  margin: 25px 0;
}

.howCanYouPayLIP-cards {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 15px 0;
}

.howCanYouPayLIP-card {
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  padding: 20px;
  max-width: 275px;
  min-height: 200px;
}

/*  */
#howWillFamilyReceive {
  margin: 25px 0;
}

.howWillFamilyReceive-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 20px;
  margin: 10px 0;
}

.howWillFamilyReceive-grid img {
  margin: 0 auto;
}

/*  */
#whichLIPSuitsYou {
  margin: 25px 0;
}

.whichLIPSuitsYou-cards {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 15px 0;
}

.whichLIPSuitsYou-card {
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  padding: 20px;
  max-width: 370px;
  min-height: 253px;
}

/*  */
#LIPTerms {
  margin: 25px 0;
}

.LIPTerms-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 0;
}

.LIPTerms-card {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 20px;
  max-width: 370px;
  min-height: 250px;
}










.f17 {
  font-size: 17px !important;
}

.ptb5 {
  padding: 5px 0;
}

.textCenter {
  text-align: center;
}

.redBtn::before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 15px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 4s ease-in-out infinite;
}

/* Media Query */
@media only screen and (max-width:480px) {

  #insuranceplans,
  #whoCanBuyLIP,
  #whyBuyPolicy {
    background-color: #F5F5F5;
    margin: 15px 0;
  }

  .fullBg {
    background-color: transparent;
  }

  .headGrid,
  .whyChoose-grid {
    grid-template-columns: 100% !important;
  }

  .safeguardtabs {
    /* flex-wrap: wrap; */
    gap: 15px;
  }

  .safeguardtabs li.current {
    font-size: 16px;
    padding: 10px;
  }

  .safeguardtabs li {
    padding: 10px;
  }

  .safeguard-gradient {
    padding: 40px 0 6%;
  }

  .safeguardtab-content {
    padding: 10px 0;
  }

  .safeguard-cards {
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    overflow-y: hidden;
    gap: 15px;
  }

  .safeguard-cards::-webkit-scrollbar {
    display: none;
  }

  .safeguard-card {
    /* max-width: 325px; */
    padding: 20px;
  }

  .safeguard-card-term {
    display: grid;
    grid-template-columns: 100%;
    gap: 1%;
  }

  .safeguard-card-term img {
    width: 75%;
    height: auto;
  }

  .safeguard-list {
    padding: 10px 0 15px 20px;
    text-wrap: wrap;
  }

  .safeguard-pay .amt,
  .safeguard-get .amt {
    font-size: 26px;
  }

  .safeguard-payget {
    justify-content: space-between;
  }

  .safeguard-btns {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .benefitsOfLIP-grid {
    grid-template-columns: 100%;
  }

  .howToChooseBestLIC-cards {
    row-gap: 10px;
  }

  .howToChooseBestLIC-card {
    max-width: 100%;
    min-height: auto;
  }

  .understandingLifeInsuranceCA-grid {
    grid-template-columns: 100%;
  }

  .insurancePlans-table {
    overflow-x: auto;
  }

  .whyBuyPolicy-grid {
    grid-template-columns: 100%;
  }

  .tipsToAvoidClaim-grid {
    grid-template-columns: 100%;
  }

  .tipsToAvoidClaim-grid>div img {
    margin: 0 auto;
  }

  .quickTips-card,
  .quickTips-card4 {
    max-width: 100%;
    min-height: auto;
  }

  .howToSaveTax-grid {
    grid-template-columns: 100%;
  }

  .howCanYouPayLIP-cards {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .howCanYouPayLIP-card,
  .LIPTerms-card {
    max-width: 100%;
    min-height: auto;
  }

  .howWillFamilyReceive-grid {
    grid-template-columns: 100%;
  }

  .whichLIPSuitsYou-cards {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .p10 {
    padding: 10px !important;
  }
}

/* Below all Animations */
@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* .tocContent:before{background-image: unset !important;} */

.insurance h3 a{text-decoration: unset !important;
  color: #404040 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  letter-spacing: .24px !important;}
  .accordion-btns span{margin-right: 6px !important;}
  .insurance .accordion-btns p {margin-left:32px !important;font-size: 16px;}
  .bor div.accordion {
    border-top: 1px solid #c7c7c7 !important;
}


@media only screen and (max-width:1366px){
  .howToChooseBestLIC-card {max-width: 302px !important;}
  .whoCanBuyLIP-card {max-width: 309px !important; min-height: 332px  !important;}
  .quickTips-card4 {min-height: 334px  !important;}
  /* .commonInclusion-card {max-width: 320px  !important; min-height: 326px  !important;} */
  .commonInclusion-card {max-width: 316px !important;min-height: 334px  !important;}
  .quickTips-card{min-height: 335px !important;}
  .LIPTerms-card{max-width: 306px !important;}
  .whichLIPSuitsYou-card {max-width: 311px !important;}
  .howCanYouPayLIP-card{max-width: 229px !important;
    min-height: 271px !important;}
  }

  @media only screen and (max-width:480px){
  .howToChooseBestLIC-cards,.commonInclusion-cards,.whichLIPSuitsYou-cards{justify-content: center !important;}
  .howCanYouPayLIP-card,.LIPTerms-card{max-width: unset !important;}
  .safeguardtabs {
    margin: 25px 0 0;
    list-style: none;
    display: flex;
    justify-content: start; /* Change center to start to help with scrolling */
    align-items: center;
    gap: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks within the tabs */
    padding: 10px; /* Optional: Add some padding for better appearance */
    scrollbar-width: thin; /* Optional: For Firefox, make scrollbar thin */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
.safeguardtabs::-webkit-scrollbar {
    height: 8px; /* Height of the scrollbar */
}
.safeguardtabs::-webkit-scrollbar-thumb {
    background: #ccc; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}
.safeguardtabs::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

.safeguardtabs li.current {
    background: transparent linear-gradient(90deg, #003974 0%, #0B4D88 100%) 0% 0% no-repeat padding-box;
    color: #FFF;
    border-radius: 26px;
    padding: 12px 35px;
}
/* .safeguard-card {
  max-width: 390px !important; width: 100% !important;}
   */
   .safeguard-card{width: 100% !important; min-width: 413px !important; min-height: 528px !important;}

  }

/* Table of content old code only no need to copy  */
#tableofContent {
  margin: 25px 0;
  z-index: 0 !important;
}
