.online-kpi ul,
.onlinePlans-grid ul {
    grid-template-columns: repeat(2, 1fr);
}
x #topSection {
    margin: 25px 0 0;
}
#whatIsTermInsurance {
    background-color: #f4f5f6;
    padding: 4% 0 5%;
}
#topSection {
    border-bottom: 1px solid #ab2020;
    padding-bottom: 10%;
    position: relative;
    z-index: -1;
    top: 110px;
}
.online-product {
    margin-top: 10px !important;
}
#topSection .termTitle { 
    font-size: 26px;
    font-weight: 600;
    color: #1e4679 !important;
}
.termDesc {
    font-size: 16px;
    font-weight: 500;
    color: #404040;
    padding: 10px 0;
}
.productCard1-title,
.productCard1-title2 {
    font-size: 20px !important;
    font-weight: 500;
}
.readalso {
    width: 20px;
    position: relative;
    top: 5px;
}
.productName-banner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
}
.productName-banner p {
    font-size: 24px !important;
    font-weight: 600 !important;
    color: #404040 !important;
}
.productCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    text-align: center;
    margin: 20px 0;
    position: absolute;
    top: 52%;
    left: 12%;
}
.productCard {
    border: 1px solid #ab2020;
    padding: 4% 20px 20px;
    min-width: 250px;
    border-radius: 8px;
    background-color: #fff;
}
.productCard1-title {
    color: #ab2020;
}
.productCard1-title sup {
    font-size: 36px;
    color: #ab2020;
    position: relative;
    top: -25px;
}
.productCard1-title span {
    font-size: 50px;
    font-weight: 600;
    color: #ab2020;
}
.productCard1-title .cr {
    color: #ab2020;
    font-size: 24px;
}
.productCard1-title2 {
    margin-top: 5px !important;
}
.productCard1-title2 b {
    font-size: 22px;
}
.buyNow-cta {
    background-color: #ab2020;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    width: 80%;
    border-radius: 25px;
    display: inline-block;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    margin: 15px 0 0;
}
.buyNow-cta:hover,
.factorsAffecting-cta a:hover,
.factorsInfluence-cta a:hover,
.onlinePlans-cta a:hover,
.termInsuranceCalc-cta a:hover,
.termPlan-cta2 a:hover,
.whoShouldBuy-cta a:hover,
.whyChooseKotak-cta a:hover {
    color: #fff;
}
.buyNow-cta::before,
.factorsAffecting-cta a::before,
.factorsInfluence-cta a::before,
.onlinePlans-cta a::before,
.termInsuranceCalc-cta a::before,
.termPlan-cta2 a::before,
.whoShouldBuy-cta a::before,
.whyChooseKotak-cta a::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    left: 0;
    width: 15px;
    height: 100%;
    background-color: #fff;
    animation: 4s ease-in-out infinite shiny-btn1;
}
.whatIsTerm-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}
#benefitsOfTerm {
    margin: 30px 0;
}
.background_color{background-color: white !important;}
#factorsInfluence,
#payoutOptions,
#termInsuranceCalculator,
#termPlanSecure,
#whyBuyTerm,
#whyChooseKotak {
    background-color: #f9f9f9;
    padding: 3% 0;
    margin: 25px 0;
}
.benefitsOfTerm-title,
.bestTerm-title,
.factorsAffecting-title,
.factorsInfluence-title,
.featureOfTerm-title,
.howToBuyTerm-title,
.payoutOptions-title,
.rightTimeToBuy-title,
.termInsuranceCalc-title,
.termInsuranceOptions-title,
.termInsuranceRider-title,
.termPlanSecure-title,
.termVsLife-title,
.typeOfTerm-title,
.whatIsTerm-title,
.whatIsTermInsuranceRider-title,
.whoShouldBuy-title,
.whyBuyTerm-title,
.whyBuyTermOnline-title,
.whyChooseKotak-title,
.whyToBuyTerm-title,
.whyYouNeedTerm-title {
    font-size: 26px !important;
    font-weight: 500;
    color: #404040;
    letter-spacing: 0.3px;
}
.benefitsOfTerm-desc,
.bestTerm-desc,
.factorsAffecting-desc,
.factorsInfluence-desc,
.featureOfTerm-desc,
.howToBuyTerm-desc,
.payoutOptions-desc,
.rightTimeToBuy-desc,
.termInsuranceCalc-desc,
.termInsuranceOptions-desc,
.termInsuranceRider-desc,
.termPlanSecure-desc,
.termVsLife-desc,
.typeOfTerm-desc,
.whatIsTerm-desc,
.whatIsTermInsuranceRider-desc,
.whoShouldBuy-desc,
.whyBuyTerm-desc,
.whyBuyTermOnline-desc,
.whyChooseKotak-desc,
.whyToBuyTerm-desc,
.whyYouNeedTerm-desc {
    font-size: 16px;
    font-weight: 400;
    color: #404040;
    letter-spacing: 0.3px;
}
.whatIsTerm-img,
.whyBuyTerm-grid img {
    margin: 0 auto;
}
.inline-links {
    color: #0066cb;
    text-decoration: underline;
}
.benefitsOfTerm-list,
.factorsAffecting-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}
.benefitsOfTerm-arrow {
    padding-right: 15px;
}
.benefitsOfTerm-arrow img {
    width: 50px;
    height: auto;
}
.benefitsOfTerm-subTitle,
.factorsAffecting-subTitle,
.factorsInfluence-subTitle,
.featureOfTerm-subTitle,
.insuranceTerminology-subTitle,
.payoutCard-subTitle,
.payoutOptions-subTitle,
.rightTimeToBuy-subTitle,
.termInsuranceCalc-subTitle,
.typeOfTerm-subTitle,
.whatIsTermInsuranceRider-subTitle,
.whoShouldBuy-subTitle,
.whyYouNeedTerm-subTitle {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #000 !important;
    letter-spacing: 0.3px !important;
    margin-bottom: 10px !important;
}
.benefitsOfTerm-subDesc,
.factorsAffecting-subDesc,
.factorsInfluence-subDesc,
.featureOfTerm-subDesc,
.insuranceTerminology-subDesc,
.payoutCard-subDesc,
.payoutOptions-subDesc,
.termInsuranceCalc-subDesc,
.typeOfTerm-subDesc,
.whatIsTermInsuranceRider-subDesc,
.whoShouldBuy-subDesc,
.whyYouNeedTerm-subDesc {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #000 !important;
    letter-spacing: 0.3px !important;
    line-height: 25px !important;
}
#factorsAffecting,
#featureOfTerm,
#howToChooseBestTerm,
#termTestimonial,
#typeOfTerm,
#whoShouldBuy,
#whyYouNeedTerm {
    margin: 25px 0;
}
.factorsAffecting-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
}
.factorsAffecting-list,
.mt10 {
    margin-top: 10px;
}
.factorsAffecting-img {
    margin-right: 20px;
}
.factorsAffecting-img img {
    width: 150px;
    height: auto;
}
.factorsAffecting-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eff8ff;
    border: 1px solid #a2b3c1;
    border-radius: 8px;
    padding: 20px 45px;
    margin: 40px 0 10px;
}
.factorsAffecting-banner h3 {
    color: #036;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.factorsAffecting-cta a,
.factorsInfluence-cta a,
.onlinePlans-cta a,
.termInsuranceCalc-cta a,
.termPlan-cta2 a,
.whoShouldBuy-cta a,
.whyChooseKotak-cta a {
    background-color: #ed1c24;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    width: auto;
    border-radius: 25px;
    display: inline-block;
    padding: 12px 40px;
    position: relative;
    overflow: hidden;
}
.termInsuranceCalc-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    align-items: center;
    gap: 20px;
    margin: 25px 0;
}
.termInsuranceCalc-list {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin: 15px 0;
}
.termInsuranceCalc-list img {
    margin-right: 15px;
}
.termInsuranceCalc-cta,
.termInsuranceCalc-img,
.textCenter {
    text-align: center;
}
#growthFuelled {
    margin: 45px 0 25px;
}
.growthFuelled-grid {
    display: grid;
    grid-template-columns: 35% 62%;
    gap: 10px;
    align-items: center;
}
.growthKotak {
    position: absolute;
    top: -10%;
    right: -15px;
}
.growthKotak img {
    width: 80%;
    height: auto;
    animation: 20s linear infinite rotation;
}
.blueBg-img,
.growthFuelled-score {
    position: relative;
}
.growthFuelled-innerText {
    position: absolute;
    bottom: 11%;
    left: 22%;
    text-align: center;
}
.growthFuelled-innerText h3 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.3px;
}
.growthFuelled-innerText p {
    font-size: 22px !important;
    font-weight: 800 !important;
    color: #000;
    padding: 5px 0 0;
}
.growthFuelled-innerText p sup {
    font-size: 8px;
    font-weight: 400;
    color: #000;
}
.growthFuelled-content h3 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.3px;
    color: #000;
}
.growthFuelled-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.growthFuelled-card {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    padding: 25px 25px 10px;
    text-align: center;
    min-width: 220px;
    min-height: 205px;
}
.factor-sprites,
.growthFuelled-card img {
    width: 50px;
    height: 50px;
}
.growthFuelled-card h4 {
    color: #161616;
    font-size: 30px;
    font-weight: 800;
    margin-top: 5px;
}
.growthFuelled-card h4 sup {
    color: #161616;
    font-size: 8px;
    font-weight: 800;
}
.growthFuelled-card p {
    color: #161616;
    font-size: 15px;
    font-weight: 400;
}
#termInsuranceOptions {
    margin: 25px 0 6%;
}
.termInsuranceOptions-table,
.termPlan-cta2,
.termVsLife-table {
    margin: 20px 0;
}
.termInsuranceOptions-table table,
.termVsLife-table table {
    width: 100%;
}
.termInsuranceOptions-table tr:nth-child(2n),
.termVsLife-table tr:nth-child(2n) {
    background-color: #f5fcff !important;
}
.termInsuranceOptions-table tr:nth-child(odd),
.termVsLife-table tr:nth-child(odd) {
    background-color: #fff !important;
}
.termInsuranceOptions-table table th,
.termVsLife-table table th {
    background-color: #f5fcff !important;
    color: #404040 !important;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.termInsuranceOptions-table table tr td,
.termVsLife-table table tr td {
    font-size: 16px;
    font-weight: 500;
    color: #404040;
}
.termInsuranceOptions-table table tr td img,
.termVsLife-table table tr td img {
    padding-right: 10px;
}
#fullWBanner {
    margin-bottom: 25px;
}
.blueBg {
    background-color: #036;
    padding: 25px;
    min-height: 200px;
}
.blueBg-grid {
    display: grid;
    grid-template-columns: 60% 30%;
    align-items: flex-start;
    gap: 50px;
}
.blueBg-grid .blueBg-title {
    font-size: 30px;
    font-weight: 500;
    color: #fff !important;
    letter-spacing: 0.3px;
}
.blueBg-img img, .blueBg-img svg {
    position: absolute;
    top: -125px;
    left: 0;
    width: 280px;
    height: auto;
}
#onlinePlans {
    margin: 3% 0 2%;
}
.onlinePlans-card {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 25px;
    border-radius: 10px;
    margin: 15px 0;
}
.onlinePlans-grid {
    display: grid;
    grid-template-columns: 55% 35%;
    align-items: flex-start;
    gap: 20px;
}
.titleDownload {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.neweterm .onlinePlans-subTitle,
.onlinePlans-card .onlinePlans-subTitle {
    color: #036 !important;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.online-kpi ul li,
.onlinePlans-grid ul li {
    list-style: disc;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    letter-spacing: 0.32px;
}
.onlinePlans-grid ul {
    display: grid;
    gap: 20px;
    margin-top: 0;
    padding: 0 18px 20px;
}
.terms-tc {
    padding-right: 20px;
}
.onlinePlans-grid img {
    width: 100%;
    /* align-self: flex-end; */
    position: relative;
    top: 25px;
   
    max-width: 350px;
}
.broch-btn img {
    width: 40px;
}
.view-Cta {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0;
}
.view-Cta1 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
}
.viewPlans a {
    border: 1px solid #ed1c24;
    color: #ed1c24;
    font-size: 15px;
    font-weight: 600;
    width: auto;
    border-radius: 25px;
    display: inline-block;
    padding: 11px 40px;
    margin-right: 20px;
}
.onlinePlans-cta {
    margin: 5px 0 0;
}
.online-kpi ul {
    display: grid;
    row-gap: 10px;
    column-gap: 40px;
    margin-top: 10px;
    padding: 0 30px 10px;
}
.offlineTxt {
    color: #404040;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin: 15px 0;
}
.whyChooseKotak-grid {
    display: grid;
    grid-template-columns: 60% 35%;
    align-items: center;
    gap: 15px;
}
#whyChooseKotak .whyChooseKotak-list {
    margin-left: 20px;
}
.whyChooseKotak-list li {
    font-size: 16px;
    font-weight: 500;
    color: #404040;
    padding: 10px;
    list-style: disc;
}
.whyChooseKotak-cta {
    text-align: center;
    margin: 15px 0 0;
}
.featureOfTerm-cards,
.typeOfTerm-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0 0;
}
.typeOfTerm-card {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    max-width: 530px;
    min-height: 250px;
    padding: 10px 25px;
}
.typeOfTerm-card img {
    margin: 5px 0 10px;
}
.typeOfTerm-hr {
    margin: 5px 0;
    border-top: 1px solid #dbdbdb;
}
.featureOfTerm-card {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    max-width: 530px;
    min-height: 100px;
}
.whyBuyTerm-grid {
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 10px;
    align-items: center;
}
.whoShouldBuy-flex {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 30px;
    margin: 25px 0 0;
}
.whoShouldBuy-cta {
    text-align: center;
    margin: 25px 0 10px;
}
.termTestimonial-bg {
    background-image: url(../images/term-insurance/testimonial.svg);
    background-position: center;
    text-align: center;
    margin: 10px auto;
    padding: 100px;
    width: 904px;
    height: 488px;
   
}
.termTestimonial-title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
.bestTerm-cards {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
.bestTerm-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 350px;
    margin: 15px 0 0;
}
.bestTerm-no,
.payoutCard img,
.whyYouNeedTerm-card img {
    margin-bottom: 10px;
}
.bestTerm-no {
    background-color: #083160;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.bestTerm-subTitle {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
}
#differenceBtwnLifeandTerm,
#howToBuyTerm,
#payoutOption,
#rightTimeToBuy,
#termInsuranceRider,
#whatIsTermInsuranceRider,
#whyBuyTerm,
#whyToBuyTerm {
    margin: 35px 0;
}
.howMuchPlanCover-flex,
.insuranceTerminology-flex,
.whyBuyTermOnline-flex,
.whyToBuyTerm-flex {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0 0;
    width: 90%;
}
.howMuchPlanCover-subTitle,
.whyBuyTermOnline-subTitle {
    font-size: 18px !important;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.3px;
}
.howMuchPlanCover-subDesc,
.whyBuyTermOnline-subDesc,
.whyToBuyTerm-subDesc {
    font-size: 16px !important;
    font-weight: 400;
    letter-spacing: 0.3px;
}
.whyYouNeedTerm-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px 0 0;
}
.whyYouNeedTerm-card {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    max-width: 360px;
    min-height: 320px;
    padding: 25px;
}
.termPlanSecure-grid {
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 10px;
    align-items: flex-start;
}
.termPlanSecure-grid img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.howToBuyTerm-img {
    text-align: center;
    margin: 5% 0 2%;
}
.whyBuyTermOnline-subTitle {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.3px;
    padding-bottom: 5px;
}
.bgred {
    background-color: #fff3f3 !important;
    border: 1px solid #ceb0ac !important;
}
.termInsuranceRider-grid {
    display: grid;
    grid-template-columns: 40% 55%;
    align-items: center;
    gap: 15px;
    margin: 15px 0 0;
}
.termInsuranceRider-subTitle {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    letter-spacing: 0.3px;
}
.termInsuranceRider-subDesc {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    letter-spacing: 0.3px;
}
.whatIsTermInsuranceRider-flex {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding-left: 20px;
    margin-top: 15px;
}
.rightTimeToBuy-bg2,
.rightTimeToBuy-bg3 {
    background-position: center;
    text-align: center;
    padding: 25px;
    width: 1083px;
}
.whatIsTermInsuranceRider-subTitle {
    margin-bottom: 5px !important;
}
.rightTimeToBuy-subHead {
    color: #404040;
    font-size: 19px !important;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 10px 0;
}
.rightTimeToBuy-bg {
    background-image: url(../images/term-insurance/Right-Time-to-Buy-Term-Insurance1.webp);
    background-position: center;
    text-align: center;
    height: 300px;
    position: relative;
}
.rightTimeToBuy-bg2 {
    background-image: url(../images/term-insurance/Right-Time-to-Buy-Term-Insurance2.webp);
    height: 280px;
    position: relative;
}
.rightTimeToBuy-bg3 {
    background-image: url(../images/term-insurance/Right-Time-to-Buy-Term-Insurance3.webp);
    height: 300px;
    position: relative;
}
.rightTimeToBuy-bg4,
.rightTimeToBuy-bg5 {
    background-position: center;
    text-align: center;
    width: 1083px;
    height: 280px;
    padding: 25px;
    position: relative;
}
.rightTimeToBuy-bg4 {
    background-image: url(../images/term-insurance/Right-Time-to-Buy-Term-Insurance4.webp);
}
.rightTimeToBuy-bg5 {
    background-image: url(../images/term-insurance/Right-Time-to-Buy-Term-Insurance5.webp);
}
.rightTimeToBuy-content-odd {
    text-align: left;
    width: 75%;
    margin-left: 25%;
}
.rightTimeToBuy-content-even {
    text-align: right;
    width: 73%;
}
.payoutCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.payoutCard {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 25px;
    max-width: 350px;
    min-height: 445px;
    flex-basis: 100%;
}
.payoutCardsBlank {
    max-width: 350px;
    min-height: 320px;
    padding-top: 20px;
    flex-basis: 100%;
}
.payoutCard-subHead {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding-bottom: 10px;
}
.alsoRead,
.insuranceTerminology-list li {
    font-size: 16px;
    font-weight: 500;
}
.factorsInfluence-cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px 0 0;
}
.factorsInfluence-card {
    background-color: #fff;
    border-radius: 8px;
    max-width: 370px;
    min-height: 360px;
    padding: 25px;
}
.factorsInfluence-cta {
    text-align: center;
    margin: 30px 0 0;
}
.payoutOptions-grid {
    display: grid;
    grid-template-columns: 35% 60%;
    align-items: flex-start;
    gap: 15px;
}
.payoutOptions-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.payoutOptions-flex div {
    max-width: 307px;
    margin: 15px 0 0;
}
.mt20,
.payoutOptions-first img {
    margin-top: 20px;
}
.insuranceTerminology-list {
    padding-left: 35px;
}
.insuranceTerminology-list li {
    list-style: disc;
}
.insuranceTerminology-flex {
    margin: 30px 0 0;
}
.documentsRequired img {
    width: 300px;
    height: auto;
}
.rightTimeToBuy-bg {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.rightTimeToBuy-content-even,
.rightTimeToBuy-content-odd {
    padding: 10px;
}
li.spec-wid::marker {
    list-style-type: none;
    content: none;
}
.tr {
    text-align: right;
}
.textLeft {
    text-align: left;
}
.deskNone {
    display: none;
}
.term-video-part {
    width: 800px;
    margin: auto;
}
.pagingInfo-review-tes {
    bottom: 6rem;
}
@media only screen and (max-width: 1366px) {
    .typeOfTerm-card {
        max-width: 49%;
        min-height: 270px;
    }
    .featureOfTerm-card {
        max-width: 49%;
    }
    .bestTerm-card {
        width: 31%;
    }
    .factorsAffecting-banner {
        padding: 20px;
    }
    .whyYouNeedTerm-card {
        flex-basis: 100%;
        min-height: 400px;
        flex-grow: 1;
    }
    .factorsInfluence-card {
        max-width: 32%;
        min-height: 380px;
        padding: 25px;
        flex-basis: 100%;
    }
    .payoutOptions-flex div {
        max-width: 49%;
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    .onlinePlans-grid img{top: 81px;}
}
@media only screen and (max-width: 1024px) {
    .onlinePlans-grid img{top: 32px;}
}
.assured-sprites,
.benefitsOfTerm-arrow,
.brochure,
.bti-icon,
.factor-sprites,
.kotak-term-logo,
.pay-sprites,
.tp-sprites,
.ttp-sprites,
.wbuy-sprites,
.who-sprites,
.whyneed-sprites {
    background-image: url(../images/term-insurance/term-plan-sprites.webp);
}
.online-term-plan-bg b,
.online-term-plan-bg p a,
.online-term-plan-bg span {
    padding-left: 3px;
    padding-right: 3px;
}
@keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}
@-webkit-keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}
@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}
.kotak-term-logo {
    width: 146px;
    height: 146px;
    background-position: -276px -908px;
}
.bti-icon {
    width: 40px;
    height: 40px;
    background-position: -78px -560px;
    flex-basis: 60px;
}
.fati-icon1,
.fati-icon2 {
    width: 40px;
    height: 50px;
    flex: 0 0 auto;
}
.fati-icon1 {
    background-position: -530px -622px;
    background-size: 89rem;
}
.fati-icon2 {
    background-position: -609px -622px;
    background-size: 89rem;
}
.fati-icon3,
.fati-icon4 {
    height: 50px;
    flex: 0 0 auto;
    background-size: 89rem;
    width: 40px;
}
.fati-icon3 {
    background-position: 5px -732px;
}
.fati-icon4 {
    background-position: -73px -732px;
}
.itc-icon {
    width: 40px;
    height: 30px;
    flex: 0 0 auto;
    background-position: -515px -482px;
}
.brochure,
.td-bti-icon {
    height: 40px;
    width: 40px;
}
.tp-right-icon {
    position: relative;
}
.td-bti-icon {
    float: left;
    flex-basis: unset;
    background-position: -78px -554px;
}
.tp-right-icon p {
    position: relative;
    top: 7px;
    margin: 0;
}
.brochure {
    background-position: -60px -140px;
    background-size: 560px;
}
.payoutOptions-desc {
    margin-top: 15px;
}
.ttp-sprites {
    width: 40px;
    height: 50px;
}
.ttip-icon1 {
    background-position: 0 -556px;
}
.ttip-icon2 {
    background-position: -200px -195px;
}
.ttip-icon3 {
    background-position: -207px -1263px;
}
.ttip-icon4 {
    background-position: -64px -1175px;
}
.who-sprites {
    width: 48px;
    height: 50px;
    flex: 0 0 auto;
}
.who-icon1 {
    background-position: -461px -201px;
}
.who-icon2 {
    background-position: 1px -381px;
}
.who-icon3 {
    background-position: -81px -384px;
}
.who-icon4 {
    background-position: -327px -381px;
}
.who-icon5 {
    background-position: -427px -478px;
}
.whyToBuyTerm-flex .bti-icon {
    flex: 0 0 auto;
    margin-top: 0.4rem;
    width: 24px;
}
.whyToBuyTerm-subDesc {
    margin-left: 0;
}
.pay-sprites,
.whyneed-sprites {
    width: 55px;
    height: 60px;
}
.why-icon1 {
    background-position: -287px -565px;
}
.why-icon2 {
    background-position: -238px -387px;
}
.why-icon3 {
    background-position: -548px -195px;
    width: 84px;
}
.wbuy-sprites {
    width: 34px;
    height: 38px;
    flex: 0 0 auto;
}
.wbuy-icon1 {
    background-position: -574px -387px;
}
.wbuy-icon2 {
    background-position: 5px -479px;
}
.wbuy-icon3 {
    background-position: -68px -479px;
}
.wbuy-icon4 {
    background-position: -117px -393px;
    background-size: 660px;
}
.wbuy-icon5 {
    background-position: -220px -479px;
}
.wbuy-icon6 {
    background-position: -291px -479px;
}
.wbuy-icon7 {
    background-position: -360px -479px;
}
.pay-icon1 {
    background-position: -660px -201px;
}
.pay-icon2 {
    background-position: -749px -201px;
}
.bright-icon {
    width: 40px;
    height: 40px;
    background-position: -157px -389px;
    flex: 0 0 auto;
}
.fact-icon1 {
    background-position: -139px 44px;
}
.fact-icon2 {
    background-position: -219px 43px;
}
.fact-icon3 {
    background-position: -296px 44px;
}
.fact-icon4 {
    background-position: 0 -14px;
}
.fact-icon5 {
    background-position: -87px -14px;
}
.fact-icon6 {
    background-position: -177px -15px;
}
.assured-sprites {
    width: 65px;
    height: 65px;
    flex: 0 0 auto;
}
.assu-icon1 {
    background-position: -260px 0;
}
.assu-icon2 {
    background-position: -360px 0;
}
.assu-icon3 {
    background-position: -461px 0;
}
.assu-icon4 {
    background-position: -562px 0;
}
.assu-icon5 {
    background-position: -445px -287px;
}
.assu-icon6 {
    background-position: -665px 0;
}
.assu-icon7 {
    background-position: 0 -100px;
}
.assu-icon8 {
    background-position: -97px -100px;
}
.assu-icon9 {
    background-position: -199px -100px;
}
.assu-icon10 {
    background-position: -299px -100px;
}
.assu-icon11 {
    background-position: -404px -100px;
}
.assu-icon12 {
    background-position: -502px -100px;
}
.assu-icon13 {
    background-position: -605px -100px;
}
.assu-icon14 {
    background-position: -707px -100px;
}
.assu-icon15 {
    background-position: 0 -200px;
}
@media only screen and (max-width: 480px) {
    svg{width: 100%; height: 100%;}
    .onlinePlans-grid img {
        top: 21px;
    }
    .saving-testimonial .slick-prev {
        left: -14px;
    }
    .saving-testimonial .slick-next {
        right: -16px;
    }
    .savetest .custom-review p {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .stes-head {
        padding-bottom: 40px !important;
    }
    .pagingInfo-review-tes {
        bottom: 26px !important;
    }
    .td-bti-icon {
        position: absolute;
        left: 5px;
    }
    .tp-right-icon p {
        left: 10px;
    }
    .whoShouldBuy-flex {
        gap: 20px;
    }
    .blueBg-grid,
    .growthFuelled-grid,
    .onlinePlans-grid {
        grid-template-columns: 100%;
    }
    .benefitsOfTerm-title,
    .bestTerm-title,
    .factorsAffecting-title,
    .factorsInfluence-title,
    .featureOfTerm-title,
    .howToBuyTerm-title,
    .payoutOptions-title,
    .rightTimeToBuy-title,
    .termInsuranceCalc-title,
    .termInsuranceOptions-title,
    .termInsuranceRider-title,
    .termPlanSecure-title,
    .termVsLife-title,
    .typeOfTerm-title,
    .whatIsTerm-title,
    .whatIsTermInsuranceRider-title,
    .whoShouldBuy-title,
    .whyBuyTerm-title,
    .whyBuyTermOnline-title,
    .whyChooseKotak-title,
    .whyToBuyTerm-title,
    .whyYouNeedTerm-title {
        font-size: 20px !important;
    }
    #termInsuranceRider,
    .stepsToBuy ul li {
        margin: 20px 0;
    }
    #topSection {
        top: auto;
        border-bottom: none;
        padding-bottom: 5px;
    }
    #document-required-term-insurance,
    #whatIsTermInsurance,
    #whyBuyTermOnline,
    .payoutOptions {
        margin-top: 0;
    }
    .bestTerm-card,
    .factorsInfluence-card,
    .featureOfTerm-card,
    .payoutOptions-flex div,
    .typeOfTerm-card,
    .whyYouNeedTerm-card {
        max-width: 100%;
        min-height: 100%;
    }
    .bestTerm-card,
    .term-video-part {
        width: 100%;
    }
    .blueBg-img img,
    .productName-banner {
        display: none;
    }
    .kotak-e-term-plan.kota-termplan-two {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .rightTimeToBuy-bg,
    .rightTimeToBuy-bg2,
    .rightTimeToBuy-bg3,
    .rightTimeToBuy-bg4,
    .rightTimeToBuy-bg5 {
        background: 0 0 !important;
        height: auto;
        padding: 0;
        width: 100%;
        text-align: left;
    }
    .rightTimeToBuy-content-even {
        text-align: left;
    }
    .productCards {
        /* position: relative;
        flex-direction: column;
        left: 0; */
        position: relative;
        flex-direction: column;
        left: 0;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(200px, 1fr);
        gap: 65px;
      
    }
    .productCards-container {
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent wrapping */
    }
    .rightTimeToBuy-content-even,
    .rightTimeToBuy-content-odd {
        margin-left: 0;
        width: 100%;
    }
    .productCard {
        padding-top: 25px;
    }
    .factorsAffecting-grid,
    .payoutOptions-grid,
    .termInsuranceCalc-grid,
    .termInsuranceRider-grid,
    .termPlanSecure-grid,
    .whatIsTerm-grid,
    .whyBuyTerm-grid,
    .whyChooseKotak-grid {
        grid-template-columns: 100%;
        gap: 25px;
    }
    .mobblock,
    .payoutCards {
        display: block;
    }
    .benefitsOfTerm-arrow img {
        width: 150px;
        height: auto;
    }
    .factorsAffecting-banner {
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }
    .termInsuranceCalc-img img {
        width: 50%;
        height: auto;
    }
    .growthFuelled-cards {
        flex-direction: column;
        gap: 20px;
    }
    .growthFuelled-card {
        width: 100%;
        min-height: 175px;
    }
    .blueBg-grid,
    .howMuchPlanCover-flex,
    .insuranceTerminology-flex,
    .whyBuyTermOnline-flex,
    .whyToBuyTerm-flex {
        gap: 10px;
    }
    .bgBlue {
        background: #036 !important;
        padding: 10px;
    }
    .blueBg {
        background-color: transparent !important;
    }
    .onlinePlans-card {
        padding: 20px;
    }
    .online-kpi ul,
    .onlinePlans-grid ul {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .onlinePlans-cta a,
    .viewPlans a {
        padding: 10px 20px;
    }
    #whyBuyTerm {
        padding: 5% 0;
    }
    .termTestimonial-bg {
        background-image: none;
        background-position: center;
        text-align: center;
        margin: 10px auto;
        padding: 40px 16px;
        width: 100%;
        height: auto;
        border: 3px solid #035;
        border-radius: 20px;
    }
    .testimonial-bg:before {
        content: "";
        background-image: url(../images/saving-plans/quotes.png);
        width: 120px;
        height: 60px;
        position: absolute;
        background-size: 100px;
        top: -3rem;
        left: 34%;
    }
    .whyYouNeedTerm-cards {
        flex-direction: column;
    }
    .termVsLife-table {
        overflow-x: auto;
    }
    .termVsLife-table::-webkit-scrollbar {
        display: none;
    }
    .mobNone {
        display: none;
    }
    .stepsToBuy ul li h3,
    .stepsToBuy ul li p {
        font-size: 18px;
        font-weight: 400;
        color: #000;
    }
    .stepsToBuy ul li .stepsToBuySpan {
        background-color: #035;
        width: 45px;
        height: 45px;
        display: block;
        border-radius: 50%;
        color: #fff !important;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin: 0 10px 10px 0;
    }
    .bor .accordion h3 {
        margin-right: 13px;
    }
    .bti-icon {
        background-position: -65px -480px;
        width: 30px !important;
        flex-basis: auto;
        flex: 0 0 auto;
        background-size: 690px;
    }
    .td-bti-icon {
        background-position: -56px -386px;
        background-size: 570px;
    }
    .assured-sprites {
        width: 45px;
        height: 55px;
        flex: 0 0 auto;
        background-size: 510px !important;
    }
    .assu-icon1 {
        background-position: -167px 0;
    }
    .assu-icon2 {
        background-position: -230px 0;
    }
    .assu-icon3 {
        background-position: -290px 0;
    }
    .assu-icon4 {
        background-position: -360px 0;
    }
    .assu-icon5 {
        background-position: -284px -181px;
    }
    .assu-icon6 {
        background-position: -421px 0;
    }
    .assu-icon7 {
        background-position: 0 -62px;
    }
    .assu-icon8 {
        background-position: -61px -62px;
    }
    .assu-icon9 {
        background-position: -128px -62px;
    }
    .assu-icon10 {
        background-position: -191px -63px;
    }
    .assu-icon11 {
        background-position: -250px -62px;
    }
    .assu-icon12 {
        background-position: -320px -62px;
    }
    .assu-icon13 {
        background-position: -381px -62px;
    }
    .assu-icon14 {
        background-position: -444px -62px;
    }
    .assu-icon15 {
        background-position: 0 -120px;
    }
}


.feats-buy .fear_know{background: #da251c !important; border: 1px solid  #da251c }


/*Term Sprites Images*/
.term-image{background-image: url(../images/term-insurance/term-images.webp)}
.whatIsTerm-img{width: 300px; height: 340px; background-position: -1541px -980px;}
.termInsuranceCalc-img{width:408px; height:495px; background-position:-491px -940px;}
.etem{width:335px; height:355px; background-position:9px -910px;}
.benefit-img{width:840px; height:305px; background-position:-1131px -561px; margin: 2rem auto 0;}
.blueBg-img{width:345px; height:283px; background-position:-1132px -1009px;     z-index: 9; top: -104px;}
.whychosse-img{width:445px; height:395px; background-position:-522px -489px; }
.whyBuyTermglid-img{width:307px; height:405px; background-position:-52px -489px;}
.termsecure-img{width:360px; height:280px; background-position:-2372px -83px; background-size: 1560px;}
.howToBuyTerm-img{ width: 848px; height: 677px; background-position: -2083px -1513px; margin: auto;}
.termInsuranceRidergrid-img{ width: 390px; height: 446px; background-position:-1550px -33px;} 
.rightTimeToBuy-bg{background-position: -966px -1554px;  background-repeat: no-repeat;}
.rightTimeToBuy-content-odd{margin-top: 4rem;}
.rightTimeToBuy-bg2{background-position:-46px -3134px;  background-repeat: no-repeat;}
.rightTimeToBuy-bg3{background-position:-55px -2276px;  background-repeat: no-repeat;}
.rightTimeToBuy-bg4{background-position:-64px -2685px;  background-repeat: no-repeat;}
.rightTimeToBuy-bg5{background-position:-934px -1900px;  background-repeat: no-repeat;}
.payout-img{width:338px; height:467px; background-position:-563px 27px; }
.document-img{width:345px; height:460px; background-position:-0px 0px; }



/*Pending Testimonial*/
.testimonial-bg{background: none !important; height: 495px !important; width: 910px !important; background-position: 2px 23px;    background-repeat: no-repeat;  border: 5px solid #036;
    border-radius: 30px;}
.testimonial-bg:before{background-image: url(../images/term-insurance/testimonial-rating-sprites.webp) !important; content: ''; background-position: 9px 2px; width: 80px;  height: 60px; position: absolute; top: -40px; left: 45%;  background-color: #fff;}
.testimonial-bg:after{content: ''; background-image: url(../images/term-insurance/testimonial-rating-sprites.webp) !important;  background-position:1px -80px; width: 63px;  height: 60px; position: absolute; bottom: -40px; left: 47%;  background-color: #fff;}
.saving-testimonial .slick-prev, .saving-testimonial .slick-next{background-image: url(../images/term-insurance/testimonial-rating-sprites.webp) !important;}
.saving-testimonial .slick-prev{background-position: -8px -187px;}
.saving-testimonial .slick-next{background-position: -39px -187px;}

.rating-img{background-image: url(../images/term-insurance/testimonial-rating-sprites.webp) !important; width: 120px;
    background-position: -1125px -191px; height: 120px;} 
.rating>label{background-image: url(../images/term-insurance/testimonial-rating-sprites.webp) !important; width: 40px !important;
    height: 40px !important; background-position: -130px -46px !important;  background-size: initial !important;}
.rating>input:checked~label, .rating>input:checked~label~label{background-image: url(../images/term-insurance/testimonial-rating-sprites.webp) !important; width: 40px !important;  height: 40px !important; background-position:-130px -87px !important;  background-size: initial !important;}
.votedcheck{background-image: url(../images/term-insurance/testimonial-rating-sprites.webp); width: 40px; height: 40px;background-position: -130px 0px;}

@media only screen and (max-width: 480px) { 
    .testimonial-bg{width: 100% !important;} 
   .testimonial-bg:before{width: 100%; background-position: 7px 22px; width: 53px; height: 56px; width: 53px;
    height: 56px; background-size:190px }
    .testimonial-bg:after{background-position:2px -158px; width: 42px;  height: 62px; left: 44%; position: absolute; background-size:190px}
    .testimonial-bg .pagingInfo-review-tes{left: 41% !important;}
}
/*End Pending*/

@media only screen and (max-width: 1280px) {
    .termsecure-img{    background-position: -2382px -83px;}
    .rightTimeToBuy-content-odd{width: 72%;}
}

@media only screen and (max-width: 480px) { 
    .termInsuranceCalc-img{background-position: -571px -940px;}
.etem{ width: 100%; height: 295px; background-position: 0px -770px;  background-size: 1720px;}
    .benefit-img { width: 100%; height: 145px; background-position: -451px -211px; margin: 2rem auto 0; background-size: 810px;}
    .whychosse-img { width: 445px; height: 335px; background-position: -409px -379px; background-size: 1610px;}
    .termsecure-img{width: 330px; height: 280px; background-position: -2393px -83px;  background-size: 1560px;}
    .termInsuranceRidergrid-img {
    width: 390px;
    height: 375px;
    background-position: -1140px -13px;
    background-size: 1520px;
}
    .rightTimeToBuy-content-odd {
    width: 104%;
}
}

/*New Slider*/
.termblog-sick{}
.termblog-sick li{}
.term-blg{border: 1px solid #fcdadd; background:#fff5f5;  padding: 10px;
    border-radius: 30px; display: block; color: #000; text-align: center; width: 90%; font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 12px;}
.term-blg:hover{color: #fff; background: #da251c;}
.termblog-sick .slick-arrow {position: absolute; background: url(../images/term-insurance/testimonial-rating-sprites.webp);width: 30px !important;z-index: 1; background-color: #fff; height: 40px; border: none; text-indent: -20000px; padding: 0;}
.termblog-sick .slick-prev {left: -37px; background-position: -5px -180px;}
.termblog-sick .slick-next{    right: -14px; background-position: -35px -180px; top: 0;}
.termblog-sick .slick-arrow:hover{background-color:inherit; border: none;}
.termblog-sick .slick-disabled{background: none;}
@media only screen and (max-width: 480px) {
    .termblog-sick .slick-prev {left: -7px; }
    .termblog-sick .slick-next{    right: -7px;}
    .term-blg{width: 80%; text-align: center; margin: auto;}
}


/* ashwini reddy form css start */
.term-new{width: 334px;
    height: 607px;
    background-position: -1485px 797px;}
    .form{padding: 50px 0;}
    .form .row{display: flex; width: 100%;flex-wrap: wrap;}
    .form .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .form .col-md-12{ flex: 0 0 auto;padding: 0 15px;
        width: 100%; display: flex;}
    .form .col-md-4 {
        flex: 0 0 auto;padding: 0 15px;
        width: 33.33333333%;
    }
    .form .term{font-size: 26px; font-weight: 600;font-family: Lato-Regular; color: #1e4679 !important; margin: 0; text-align: left;}
    .applyform{
    
    }
    .applyform .col-md-6 {
        flex: 0 0 auto;padding: 0 15px;
        width: 50%;
    }
    .applyform .col-md-3 {
        flex: 0 0 auto;padding: 0 15px;
        width: 25%;
    }
    .width-space{width: 100%; }


    .form .life{font-size: 20px; font-weight: 400; font-family:'Roboto'; color: #000000; background: antiquewhite;}
    .form .colorred{color: #AB2020;}
    .form .cr{font-weight: 400; font-family:'Roboto';font-size: 39px;color: #AB2020;}
    .space{padding: 20px 20px;}

    .form-label{color: #3B3B3B;margin-bottom: 8px;  font-size: 15px;  font-family: 'Roboto';  font-weight: 400;}
    .form-control{border: 1px solid #D2D2D2 !important;  border-radius: 10px !important;  color: #A8A8A8 !important;font-size: 13px !important;  font-weight: 400 !important;  padding: 12px !important;}
  
    .gen_radio {  width: 0;  height: 0;  position: absolute; margin-left: 0 !important;  border: 0;}
.borderspace{ background: antiquewhite; overflow: hidden; text-align: center; padding: 20px 0;}

.gen_radio[type="radio"]:checked + .gen_label { border: 1px solid #003366; background-color: #EEF6FF;  color: #003366;}

.gen_radio[type="radio"]:checked + .gen_label .checkmark {  display: block;}

.form-check-input:focus { box-shadow: none;}

.gen_label { padding: 12px 14px;  border-radius: 12px; width: 100%; text-align: center;  font-size: 14px; color: #A8A8A8; font-weight: 400;  position: relative; display: flex; align-items: center;  justify-content: center;}

.checkmark { display: none;  width: 10px;  height: 7px;   margin-right: 8px; }

.gen_switch { background: #F2F2F2;display: inline-flex; border-radius: 12px;  width: 100%;  max-width: 264px;}
label{margin-bottom: 0;}

#scroll {
    position: fixed;
   right: 10px;
    bottom: 30px;
    cursor: pointer;
    display: none; /* Ensure it's hidden initially */
    z-index: 1000;
    background: transparent linear-gradient(90deg, #82772D 0%, #C1CD23 100%) 0% 0% no-repeat padding-box;
    border-radius: 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    max-width: 203px;
    margin: 0 auto;
    padding: 12px;
}

.calendar_img::after {
    content: '';
    background-image: url('/assets/images/term-insurance/calender.svg');
    background-size: contain;
    background-repeat: no-repeat;position: absolute;
    left: 75%; top: 43px;
    bottom: 0;
    width: 20px;
    height: 20px;
    display: block;
}
.error{padding-left: 0;}
.para{padding-left: 15px;font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #464646;}
.form-check-input.check_box:checked[type=checkbox] {
    background-image: url('/assets/images/term-insurance/check.svg');
    background-size: 10px 7px;
    background-repeat: no-repeat;
    background-position: center;
}
.form-check-input.check_box:checked {
    background-color: #EEF6FF;
    border: 1px solid #003366;
}
.policy{color: #0099FF;}
.customspace{margin-top: 20px;}



.submit{
    border-radius: 25px;border: 0;
    /* background-color: #da251c; */
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 19px 0 23px !important;
    background: transparent linear-gradient(360deg, #82772D 0%, #C1CD23 100%) 0% 0% no-repeat padding-box !important;}
    .submitdiv{margin: 0 auto; text-align: center;}

    @media only screen and (max-width: 480px) { 
        .form .col-md-8 {
    flex: 0 0 auto;
    width: 100%;
}
.applyform .col-md-6 {
   
    width: 100%;
}
.applyform .col-md-3 {
    
    width: 100%;
}
    }
    /* slick css */

    .termblog-sick1{}
        .termblog-sick li{}
        .term-blg {
            border: 1px solid #fcdadd;
            background: #fff5f5;
            padding: 10px;
            border-radius: 30px;
            display: block;
            color: #000;
            text-align: center;
            width: 90%;
            font-weight: 600;
            letter-spacing: 0.3px;
            font-size: 12px;
        }
        .term-blg:hover {
            color: #fff;
            background: #da251c;
        }
        .termblog-sick1 .slick-arrow:hover {
            background-color: inherit;
            border: none;
        }
        .termblog-sick1 .slick-disabled {
            background: none;
        }

        @media only screen and (max-width: 1366px){
            .gen_label {padding: 12px 10px;}
        }
        @media only screen and (max-width: 480px) {
            .termblog-sick1 .slick-prev {
                left: -7px;
            }
            .termblog-sick1 .slick-next {
                right: -7px;
            }
            .term-blg {
                width: 80%;
                text-align: center;
                margin: auto;
            }
            .gen_switch{max-width: unset;}
            .gen_label {
                padding: 12px 59px;
            }
            
      
        }
        

     

 .slick-dots {
  position: absolute;top:91%;
  z-index: 10;
  display: flex;
  transform: translate(-50%, -50%);
  left: 50%;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots li { margin: 0 3px; }

.slick-dots li button {
  background: rgba(121, 6, 144, 0.4);
  opacity: 0.5;
  width: 5px; /* Small dot size */
  height: 5px; /* Small dot size */
  border-radius: 50%; /* Make the dots circular */
  border: 0;
  padding: 0;
  font-size: 0;
  transition: opacity 0.5s ease;
}

.slick-dots li.slick-active button {
  background-color: #AB2020;
  opacity: 1;
}

.slick-prev{ position: absolute;
    /* top: -81px; */bottom: -120px;
    background-image: url(../img/whiteleftarrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 0;
    height: 0;
  
    border: none;
    font-size: 0;
    background-color: transparent;}


.slick-next{ position: absolute;
        /* top: 0px; */
        background-image: url(../img/whiteleftarrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 98px;
        height: 98px;
        transform: rotate(180deg);
        right: 32px;
        border: none;
        font-size: 0;
        bottom: -120px;
        background-color: transparent;}

        .select2-selection.select2-selection--single[aria-expanded=false] .select2-selection__arrow{background-image: url('/assets/images/term-insurance/downarrow.svg');
            content: "";
            background-repeat: no-repeat;
            top: 37px;
            position: absolute;
            right: 12px;
            width: 20px;
            transition: transform .2s ease-in-out;
            height: 20px;}
            .select2-selection.select2-selection--single[aria-expanded=true] .select2-selection__arrow {
                background-image: url('/assets/images/term-insurance/downarrow.svg');
                top: 27px;
                content: "";
                position: absolute;
                right: 22px;
                background-repeat: no-repeat;
                background-size: 100%;
                transform: rotate(180deg);
                width: 10px;
                height: 13px;
                transition: transform .2s ease-in-out;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow b{border-style: none !important;}
            .select2.select2-container.select2-container--default{width: 100% !important; max-width: 500px !important;margin-top: -19px !important;}
            .select2-container .select2-selection--single{height:49px !important;padding:12px !important;border-radius: 10px !important;}
            .select2-container .select2-selection--single .select2-selection__rendered{padding: 0 !important;}
            /* .select2-container--default .select2-selection--single .select2-selection__arrow b{border-style: none;} */
            .select2-container--default .select2-selection--single{border: 1px solid #D2D2D2 !important;}
            .select2-results__option .select2-results__option--highlighted {
                background-color: #5897fb !important;
                color: white !important;
            }
    
/* ashwini reddy form css end */

/*Vinoth 020724*/

.termblog-sick1{border: 1px solid #8A812C;
    border-radius: 28px;
    overflow: hidden;}
.errors, .error{font-weight: 400; line-height: 18px;}
.pos-rel{position: relative;}
#checkbox-error{position: absolute; bottom: -20px; left: 40px;}
   #fname-error {
        display: none;
    }

    #fname-error.errorf {
        display: block;
    }
td{border: none !important; padding: 0 !important;}
.custom_space{display: flex; width: 100%;     justify-content: space-between;}
.custom_space .onlinePlans-card  {width: 48%; }
.custom_space .online-kpi ul{display: block;}

@media only screen and (max-width: 480px){
    .custom_space{display:block;}
    .custom_space .onlinePlans-card{margin-bottom: 20px; width: 100% !important;}
    
}


/* ashwini reddy new content update and authorbox css */
.newamith{padding: 36px 0; z-index: 1;}
.bgBlue{padding-top: 70px;}
.protectgrid{display: inline-block !important;}
.custom_space{display: grid;
    grid-template-columns: 50% 48%;
    align-items: flex-start;
    gap: 20px;}
    .onlinePlans-card{min-height: 377px !important; width: 100% !important;}
    .spacebottom{padding: 3px !important;}
    .using{padding-top: 13px;}
    .ul-left{margin-left: 43px;}
    .desktop-code{display: block;}
    .whyYouNeedTerm-card {min-height: 546px !important;}

    

    @media only screen and (max-width: 480px) { 
        .desktop-code{display:none;}
        .payoutCard {   margin: 10px 0 0 0 ;  }
        .custom_space{display: inline;}
        .authorDetails{display: inline-block;}
        .side{min-height: unset !important;}
        #tableofContent {
            z-index: 3 !important;
        }
}

.side{margin-left: 0;
    min-height: 397px;}
    .protectgrid {
       
        min-height: 167px;
    }
    .payoutCards{flex-wrap: wrap;}
    .payoutCardsBlank {
        max-width: unset !important;
         min-height: unset !important;}
         @media only screen and (max-width: 1440px){
         .side {
          
            min-height: 431px;
        }
        .whyYouNeedTerm-card {min-height: 545px !important;}

    }

    @media only screen and (max-width: 1366px) {
        .side {
            min-height: 496px;
        }
        .whyYouNeedTerm-card {
            min-height: 622px !important;
        }
        .payoutCard {
           
            max-width: 316px;
            min-height: 471px;
           
        }
    }

    .new-onlinegsp li{padding: 35px 27px 34px 40px !important;}
    .newspacechange li::before{top: 12px !important;}
    .newspacechange li{max-height: 76px !important;}
    .onlinePlans-card{min-height: 301px !important;}
    .ulip-offline .accelblock{height: 367px !important;}
    .tocText{padding: 8px 20px 5px !important;
        margin-left: 40px;
        max-width: 290px;
        border-radius: 10px 10px 0 0;
        border: 1px solid #AEAEAE;
        border-bottom: none;
        color: #262626;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;}
        .ulip-offline {
            margin-top: 1rem !important;
        }
        .onlineplan {
            padding: 8px 20px !important;}


/*Vinoth 190724*/
.productCards{justify-content: flex-start !important; position:static !important;}
#topSection{border-bottom: 0px !important; margin-top: 110px; top:0px !important; padding-bottom: 0px !important; margin-bottom: 0;}
/* #topSection:before{content: '';  z-index: -1;  border-bottom: 0; position: absolute; bottom: 110px; width: 100%; border: 1px solid #ab2020} */
.term-design section{top:0 !important;}
.productCard{padding-left:  10px ; padding-right: 10px;}
.onlinePlans-card{    padding: 9px 20px; padding-bottom: 0 !important;min-height: 270px !important;}
@media only screen and (max-width: 480px) {
    .newamith{z-index: 6;}
    #topSection{margin-top:0 !important;}
}


/* ashwinireddy new css for form new design */
.product-graycard{background: #F5F5F5;padding: 24px 0 34px 0;}
.productCard {min-width: 175px !important; padding: 20px 7px !important;min-height:196px !important;}
#newform{position: relative;}
.dynamicform{height: 500px;
    margin-top: -15rem;
    margin-left: 5rem;
    width: 100%;max-width:500px; 
    border-radius: 16px;
    opacity: 1;
   }
   .productCard1-title span {
    font-size: 35px !important;color:#262626 !important;
    font-weight: 400 !important;
    /* color: #ab2020; */
    font-family: 'Roboto';
}
.productCard1-title sup {
    color: #262626; font-family: 'Roboto';position:unset !important;font-weight:400 !important;
    font-size: 24px;
   }
   .productCard1-title ,.productCard1-title2{font-size:16px !important}
   .productCard1-title2 b {
    font-size: 16px !important;
}

.buyNow-cta{border:1px solid #ab2020;background:unset !important; color: #ab2020;margin :18px 0 0 0 !important;padding:9px 21px !important} 
.buyNow-cta:hover{ color: #ab2020 !important;}
.productCard{border:unset !important}
.productCard .best{color: #AB2020 !important;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    margin-right: 0px;
    background: #FFECEC;
    float: right;
    margin-top: -15px;
    padding: -1px 11px;
    border-radius: 4px;
    padding: 0px 10px;
    text-align: end;
    width: 89px;}
    .productCard1-title{padding-top:22px !important;}
@media only screen and (max-width: 1366px) {
    
    .dynamicform{  margin-left: 9rem; width: 100%;  max-width: 491px;}
    .bestimg{top:101px !important;}
    .productCard1-title span {font-size:30px !important}

}
@media only screen and (max-width: 1280px) {
    .dynamicform {
        margin-left: 9rem;
        width: 100%;
        max-width: 436px;
    }
}
@media only screen and (max-width: 480px) {
    .dynamicform {
        margin-left: 0;
        width: 100%;
        margin-top: 0;
    }
    .productCards{gap:31px !important}
    .bestimg {
        height: 30px;
        background-position: -1347px -2399px;
        width: 150px;
       
    }
}

.bestimg{
  
    height: 24px !important;
    background-position: -1864px 1007px !important;
    width: 75px !important;
    display: inline-block !important;
   
}
.whatIsTerm-img {
    width: 247px !important;
    height: 340px !important;
    background-position: -2230px -6840px !important;
    background-size: 1430px !important;
}
#morecont{display: none;}
.dynamicform{border: 1px solid #000;}
.dynamicform, .form-int{    position: absolute !important;  right:9rem;   top: 30rem;}
@media only screen and (max-width: 1366px) {
    .dynamicform, .form-int{  max-width:550px;  position: absolute; right: 5.3rem;}
    .productCard1-title span{font-size: 30px !important;} 
}
@media only screen and (max-width: 1280px) {
     .dynamicform{  max-width: 550px;  position: absolute; right: 8rem;}
    .productCards{flex-wrap: wrap;}
    .productCard1-title span{font-size: 28px !important;}
}
@media only screen and (max-width: 480px) {
    .dynamicform, .form-int{max-width: 100%; position: static !important;}
}